secrets:
  - name: APIKEY
    value: test_api_key
  - name: SENTRY_DSN
    value: ""
  - name: MAX_CPU
    value: 2
  - name: WEB_AUTH_URL
    value: "https://develop-komanda.mos.ru"
  - name: HTTP_EXTERNAL_HOST
    value: develop-komanda.mos.ru
  - name: ALLOW_ORIGINS
    value: "https://develop-komanda.mos.ru"
  - name: UPLOAD_PATH
    value: /upload
  - name: ACCESS_TOKEN_TTL
    value: 1h
  - name: REFRESH_TOKEN_TTL
    value: 1m

